/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}
#preloader{
  background: rgb(17, 16, 16) url('/assets/preloader.gif') no-repeat center;
  background-size: 40%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.loading{
  width: fit-content;
  margin: 30% auto 0;
  overflow: hidden;
}
.loading span{
  display: inline-block;
  color: white;
  padding: 2px;
  font-size: 40px;
  transform: translateY(70px);
  animation: moveup 1.6s linear infinite;
}
@keyframes moveup{
  0%{
    transform: translateY(70px);
  }
  20%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(0px);
  }
}
.loading span:nth-child(2){
  animation-delay: 0.2s;
}
.loading span:nth-child(3){
  animation-delay: 0.4s;
}
.loading span:nth-child(4){
  animation-delay: 0.6s;
}
.loading span:nth-child(5){
  animation-delay: 0.8s;
}
.loading span:nth-child(6){
  animation-delay: 1s;
}
.loading span:nth-child(7){
  animation-delay: 1.2s;
}
.loading span:nth-child(8){
  animation-delay: 1.4s;
}
.loading span:nth-child(9){
  animation-delay: 1.6s;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
}

html {
  scroll-behavior: smooth;
}

p {
  color: yellow;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links,#bottom-name{
  display: flex;
  position: relative;
  left: 100px;
  list-style: none;
  font-size: 1.5rem;
}
#bottom-nav{
  left: 0;
}
a{
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 5px 10px;
  margin: 15px 5px 15px 30px;
}
a{
  --c: greenyellow; /* the border color */
  --b: 2px;    /* the border thickness*/
  --g: 5px;     /* the gap on hover */
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: conic-gradient(from 180deg at top var(--b) right var(--b),var(--_g)) var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(at bottom var(--b) left  var(--b),var(--_g)) 0 var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  transition: .3s, background-position .3s .3s;
  cursor: pointer;
}
a:hover {
  --_i: 100%;
  color: greenyellow;
  transition: .4s, background-size .4s .4s;
}
h1{
  color: white;
}
.logo {
  font-size: 2rem;
  color: white;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
.bouncing-text {
  position: relative;
  display: flex;
  font-size: 50px;
  font-family: arial black;  
  left: 100px;
}
.b, .o, .u, .n, .c, .e {
  color: #4cc9f0;
  text-shadow: 0 3px #4361ee, 0 5px #4361ee, 0 7px #4361ee;
}
@keyframes bounce {
  0%   { transform: scale(1,1) translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-55px);}
  50%  { transform: scale(1.05,.95) translateY(0); }
  58%  { transform: scale(1,1) translateY(-7px); }
  65%  { transform: scale(1,1) translateY(0);}
  100% { transform: scale(1,1) translateY(0);}
}

.b {
animation: bounce 1s ease infinite;
}
.o {
animation: bounce 1s ease infinite .1s;
}
.u {
animation: bounce 1s ease infinite .2s;
}
.n {
animation: bounce 1s ease infinite .3s;
}
.c {
animation: bounce 1s ease infinite .4s;
}
.e {
animation: bounce 1s ease infinite .5s;
}
.word{
  font-size: 30px;
  /* color: yellow; */
  max-width: 400px;
  background-clip: text;
  background:linear-gradient(to right, #dc437d, #ff6b08, #cf23cf, aqua);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}
.section__text > h2,h3 {
  color: white;
  font-size: 35px;
}
/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container img{
  height: 400px;
  width: 250px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 5px 5px 5px #cf23cf; 
}

.section__text {
  position: relative;
  align-self: center;
  text-align: center;
  min-width: 400px;
  right: 120px;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  color: white;
}

/* ABOUT SECTION */

#about {
  position: relative;
}
.about-container{
  display: flex;
}
.about-sidebox{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 330px;
  max-height: 570px;
  margin: 15px;
  box-shadow: 0 0 5px 5px orange;
}
.sidebox-profile{
  text-align: center;
}
.sidebox-profile > img{
  height: 170px;
  width: 170px;
  border-radius: 50%;
  padding-top: 15px;
}
.sidebox-content{
  position: relative;
}
.sidebox-content i {
  margin-top: 10px;
}
.sidebox-content > div{
  position: absolute;
  left: 75px;
  top: 20px;
}
.sidebox-details h2{
  color: beige;
}
.sidebox-details span{
  color: white;
}
.about-content{
  padding: 20px;
}
.about-content p{
  color: violet;
}
.timeline{
  position: relative;
  max-width: 600px;
  margin-top: 30px;
}
.timeline-container{
  position: relative;
  padding: 15px 50px;
  width: 70%;
  left: 10px;
}
.timeline-container img{
  position: absolute;
  left: -20px;
  top: 30px;
  border-radius: 50%;
  z-index: 10;
}
.timeline-content{
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: white;
  top: 0px;
  left: 13px;
  z-index: -1;
  animation: moveline 3s linear forwards;
}
@keyframes moveline{
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}
.left-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  left: -12px;
}
.animate-timeline {
  animation: timeline-animation 1s linear forwards;
  opacity: 0; 
}

@keyframes timeline-animation {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-timeline:nth-child(2){
  animation-delay: 1s;
}
.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  color: white;
}
#arr1,#arr2,#arr3{
  position: absolute;
  left: 1250px;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: gold;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
  border: 3px solid white;
  padding: 0px 80px;
  border-radius: 30px;
}

.section__pic-container {
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}
#experience h1{
  text-align: center;
  font-size: 30px;
}
#experience h3{
  font-size: 25px;
  margin: 5px;
}
.skills_div{
  display: flex;
}
.skill{
  width: 450px;
  height: 500px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 30px auto;
  color: #fff;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
}
.skill li{
  margin: 20px 0;
  padding: 10px;
}
.bar{
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12) , 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,.1);
}
.bar:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252,103,103,1)100%);
}
.html{
  width: 90%;
  animation: html 3s;
}
.css{
  width: 80%;
  animation: css 3s;
}
.php{
  width: 50%;
  animation: php 3s;
}
.js{
  width: 70%;
  animation: js 3s;
}
.cp{
  width: 95%;
  animation: cp 3s;
}
.cpp{
  width: 50%;
  animation: cpp 3s;
}
.python{
  width: 80%;
  animation: pyhton 3s;
}
.java{
  width: 65%;
  animation: java 3s;
}
@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes php{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}
@keyframes js{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
@keyframes cp{
  0%{
    width: 0%;
  }
  100%{
    width: 95%;
  }
}
@keyframes cpp{
  0%{
    width: 0%;
  }
  100%{
    width: 45%;
  }
}
@keyframes python{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes java{
  0%{
    width: 0%;
  }
  100%{
    width: 65%;
  }
}
.fill {
  width: 0;
  animation: fill-bar 2s forwards;
}

@keyframes fill-bar {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}
article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}
.proj{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.card-container{
  width: 350px;
  height: 500px;
  perspective: 800px;
  
}
.card-container:hover > .card{
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}
.card{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d;
  box-shadow: 0 0 5px 5px gold;
  border-radius: 20px;
}
.slide-effect{
  animation: slidein 2s ease-in-out;
}
@keyframes slidein{
  0%{
    margin-left: 50%;
  }
  100%{
    margin-left: 0%;
  }
}
.front,.back{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  backface-visibility: hidden;
}
.front > h3 {
  position: relative;
  color: #fff;
  font-size: 25px;
  text-align: center;
  top: 320px;
}
#ml{
  background: url('https://www.ixiono.com/assets/img/sol-Machine-learning1.jpg');
}
#chatbot{
  background: url('https://img.freepik.com/premium-photo/futuristic-technology-human-interaction-with-robotic-ai-generative-ai_431161-2470.jpg?w=740');
  background-size: cover;
  background-position: -50px;
}
#chatbot h3{
  top: 460px;
}
.back{
  background: black;
  transform: rotateY(180deg) rotateZ(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back p{
  color: rgb(57, 239, 245);
  padding: 15px;
  font-size: 17px;
  text-align: justify;
}
.back button {
  border-radius: 20px;
  color: white;
  background-color: #424753;
  font-size: 20px;
  padding: 10px;
}
.back button:hover{
  border-radius: 20px;
  color: #353b48;
  background-color: white;
}

/* CONTACT */

#contact {
  position: relative;
}

.contact-info-upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
.new-cont{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}
.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}
.center{
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  color: #4361ee;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 50%;
  height: 50px;
  border: 1px solid;
  background: #02a7e9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin-left: 80px;
  margin-bottom: 20px;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
}
.reveal.active{
  margin-top: 50px;
  transform: translateY(0px);
  opacity: 1;
  transition: all 2s ease;
}
i{
  font-size: 35px;
  padding: 20px;
  cursor: pointer;
}
